<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <img src="assets/img/retroceso.png" alt="Back" class="back-icon" />
      </ion-button>
    </ion-buttons>
    <ion-title>Preparación Ante Riesgo y Amenazas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: url('assets/img/fondo.jpg') no-repeat center center fixed; --background-size: cover;">
  <div class="options-container">
    <ion-card>
      <div class="background-image-container">
        <img src="assets/img/armadillo fondo.png" class="background-image">
      </div>
      <ion-card-header class="options-header">
        <ion-img src="assets/img/logo.png" class="logo"></ion-img>
        <ion-card-title>Opciones</ion-card-title>
        <ion-button fill="outline" class="undo-button" (click)="resetChanges()">Deshacer cambios</ion-button>
      </ion-card-header>
      <ion-card-content>
        <ion-item lines="none" class="item-with-range">
          <ion-label>Música ambiental</ion-label>
          <ion-toggle slot="start" [(ngModel)]="settings.music" (ionChange)="toggleMusic()"></ion-toggle>
          <div class="range-container">
            <ion-range [(ngModel)]="settings.musicVolume" min="0" max="1" step="0.1" (ionChange)="setMusicVolume($event)"></ion-range>
          </div>
        </ion-item>
        <ion-item lines="none" class="item-with-range">
          <ion-label>Efectos de sonido</ion-label>
          <ion-toggle slot="start" [(ngModel)]="settings.sound" (ionChange)="toggleEffects()"></ion-toggle>
          <div class="range-container" *ngIf="settings.sound">
            <ion-range [(ngModel)]="settings.soundVolume" min="0" max="1" step="0.1" (ionChange)="setEffectsVolume($event)"></ion-range>
          </div>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Notificaciones</ion-label>
          <ion-toggle slot="end" [(ngModel)]="settings.notifications" (ionChange)="onSettingChange()"></ion-toggle>
        </ion-item>
        
        <ion-button expand="full" class="account-settings" (click)="openAccountSettings()">Configuración de cuenta</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="dark"></ion-toolbar>
</ion-footer>
