<ion-header>
  <ion-toolbar class="black-toolbar">
    <ion-buttons slot="start">
      <ion-button class="back-button" (click)="goBack()">
        <img src="assets/img/retroceso.png" alt="Back" class="back-icon" />
      </ion-button>
    </ion-buttons>
    <div class="title-centered">
      <ion-title>Preparación Ante Riesgo y Amenazas</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ranking-header-container">
    <div class="logo-title-container">
      <img src="assets/img/logo.png" alt="Logo" class="logo" />
      <div class="ranking-header">
        <h1>Ranking</h1>
        <div class="dropdown">
          <button class="dropdown-btn" (click)="toggleDropdown()">
            <img src="assets/img/menu-ranking.png" alt="Menu Ranking" class="menu-icon" />
            <span>
              {{ selectedCategory ? selectedCategory + (selectedSubcategory ? ' / ' + selectedSubcategory : '') : 'Seleccione una categoría' }}
            </span>
          </button>
          <div class="dropdown-content" *ngIf="dropdownOpen">
            <div *ngIf="!selectedCategory">
              <button *ngFor="let category of categories" 
                      [class.selected]="category === selectedCategory" 
                      (click)="selectCategory(category)">
                {{ category }}
              </button>
            </div>
            <div *ngIf="selectedCategory">
              <button *ngFor="let subcategory of subcategories" (click)="selectSubcategory(subcategory)">
                {{ subcategory }}
              </button>
            </div>
          </div>
        </div>
        <button class="clear-btn" (click)="clearSelection()">Limpiar</button>
      </div>
    </div>
  </div>
  <div class="ranking-container">
    <div class="ranking-table-container" *ngIf="selectedSubcategory">
      <h2>{{ selectedCategory }} / {{ selectedSubcategory }}</h2>
      <table>
        <tr>
          <th>Posición</th>
          <th>Nombre</th>
          <th>Nivel 1</th>
          <th>Nivel 2</th>
          <th>Nivel 3</th>
          <th>Total</th>
        </tr>
        <tr *ngFor="let rank of ranking; let i = index" [class.user-row]="rank.isUser">
          <td>{{ i + 1 }}</td>
          <td>{{ rank.name }}</td>
          <td>{{ rank.level1 }}</td>
          <td>{{ rank.level2 }}</td>
          <td>{{ rank.level3 }}</td>
          <td>{{ rank.total }}</td>
        </tr>
      </table>
    </div>
    <div class="no-selection" *ngIf="!selectedSubcategory">
      <p>Seleccione una tabla</p>
    </div>
  </div>
</ion-content>
