.ranking-container {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    padding: 20px;
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  .title-box {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
  }
  
  .logo {
    width: 10%;
    height: 10%;
    margin-right: 10px;
  }
  
  .title-text h2 {
    margin: 0;
    font-size: 1.5rem;
    color: #000;
  }
  
  .title-text h3 {
    margin: 0;
    font-size: 1rem;
    color: #000;
  }
  
  .ranking-table {
    margin-top: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
  }
  
  .ranking-table th, .ranking-table td {
    border: 2px solid #000; /* Grosor del borde aumentado */
    padding: 10px;
    text-align: center;
    color: #000; /* Color del texto cambiado a negro */
  }
  
  .ranking-table th {
    background-color: #ddd;
  }
  
  .footer-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5%;
    background: #000;
  }
  
  .black-toolbar {
    --background: #000 !important;
    --color: #fff !important;
  }
  
  .title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  img.logo {
    width: 50px;
    height: 50px;
    margin-left: 10px;
  }
  
  ion-title {
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.5;
    margin-right: 30px;
  }
  
  .icon, .back-icon {
    width: 30px;
    height: auto;
  }
  
  .ranking-container {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  .title-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .title-text {
    margin-left: 20px;
  }
  
  .buttons-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    gap: 10px;
  }
  
  .buttons-container ion-button {
    --padding-top: 0.5em;
    --padding-bottom: 0.5em;
    --padding-start: 1em;
    --padding-end: 1em;
  }
  
  ion-list {
    margin: 20px;
  }
  
  ion-item h2, ion-item p {
    margin: 0;
  }
  