<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Preparación Ante Riesgo y Amenazas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: url('assets/img/fondo.jpg') no-repeat center center fixed; --background-size: cover;">
  <div class="options-container">
    <ion-card>
      <div class="background-image-container">
        <img src="assets/img/armadillo fondo.png" class="background-image">
      </div>
      <ion-card-header class="options-header">
        <ion-img src="assets/img/logo.png" class="logo"></ion-img>
        <ion-card-title>Opciones</ion-card-title>
        <ion-button fill="outline" class="undo-button">Deshacer cambios</ion-button>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label>Música ambiental</ion-label>
          <ion-toggle slot="end"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label>Efectos de sonido</ion-label>
          <ion-toggle slot="end"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label>Notificaciones</ion-label>
          <ion-toggle slot="end"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label>Modo oscuro</ion-label>
          <ion-toggle slot="end"></ion-toggle>
        </ion-item>
        <ion-button expand="full" class="account-settings">Configuración de cuenta</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="dark"></ion-toolbar>
</ion-footer>
