<ion-header>
  <ion-toolbar class="black-toolbar">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <img src="assets/img/retroceso.png" alt="Back" class="back-icon" />
      </ion-button>
    </ion-buttons>
    <div class="title-container">
      <img src="assets/img/logo.png" alt="Logo" class="logo" (click)="goHome()" />
      <ion-title>
        Preparación Ante Riesgo<br>y Amenazas
      </ion-title>
    </div>
    <ion-buttons slot="end">
      <ion-button *ngIf="!username" (click)="navigateToInicioSesion()">
        <img src="assets/img/icono de usuario.png" alt="Usuario" class="icon">
      </ion-button>
      <ion-button *ngIf="username" (click)="openMenu()">
        <img src="assets/img/avatar.png" alt="Usuario Activo" class="icon">
        {{ username }}
      </ion-button>
      <ion-button (click)="navigateToRanking()">
        <img src="assets/img/icono de ranking.png" alt="Ranking" class="icon">
      </ion-button>
      <ion-button (click)="navigateToAyuda()">
        <img src="assets/img/icono de ayuda.png" alt="Ayuda" class="icon">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content">
  <div class="seleccion-tema-container">
    <img src="assets/img/fondo.jpg" class="background-image" />
    <h1>Selección de Categoría</h1>
    <div class="buttons-container">
      <div class="button-column">
        <div class="custom-button button1" (click)="navigateToPrevencionInundacion()">
          <img src="assets/img/med.png" alt="Prevención de Inundación" class="button-icon">
          <span>Prevención de Inundación</span>
        </div>
      </div>
      <div class="button-column">
        <div class="custom-button button2" (click)="navigateToDecisionInundacion()">
          <img src="assets/img/des.png" alt="Decisión durante Inundación" class="button-icon">
          <span>Decisión durante Inundación</span>
        </div>
      </div>
      <div class="button-column">
        <div class="custom-button button3" (click)="navigateToReconocimientoInundacion()">
          <img src="assets/img/reconoc.png" alt="Reconocimiento de Potenciales Inundación" class="button-icon">
          <span>Reconocimiento de Potenciales Inundación</span>
        </div>
      </div>
    </div>
    <img src="assets/img/rana fondo.png" alt="Aqua" class="character aqua-character">
  </div>
  <div class="footer-bar"></div>
</ion-content>

<ion-menu side="end" menuId="custom-menu" contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/img/avatar.png">
        </ion-avatar>
        <ion-label>{{ username }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Nombre: {{ currentUser?.nombre }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Apellido: {{ currentUser?.apellido }}</ion-label>
      </ion-item>
      <ion-item button (click)="editarPerfil()">
        <ion-label>Editar Perfil</ion-label>
      </ion-item>
      <ion-item button (click)="cambiarContrasena()">
        <ion-label>Cambiar Contraseña</ion-label>
      </ion-item>
      <ion-item *ngIf="isAdmin" button (click)="configuracionAdmin()">
        <ion-label>Configuración de Administrador</ion-label>
      </ion-item>
      <ion-item button (click)="logout()">
        <ion-label>Salir de Cuenta</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

