<ion-header>
  <ion-toolbar>
    <div class="title-container">
      <img src="assets/img/logo.png" alt="Logo" class="logo" />
      <ion-title>
        Preparación Ante Riesgo<br>y Amenazas
      </ion-title>
    </div>
    <ion-buttons slot="end">
      <ion-button>
        <img src="assets/img/icono de usuario.png" alt="Usuario" class="icon">
      </ion-button>
      <ion-button>
        <img src="assets/img/icono de ranking.png" alt="Ranking" class="icon">
      </ion-button>
      <ion-button>
        <img src="assets/img/icono de ayuda.png" alt="Ayuda" class="icon">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="seleccion-tema-container">
    <img src="assets/img/fondo.jpg" class="background-image" />
    <h1>Selección de Tema</h1>
    <div class="buttons">
      <ion-button expand="block" class="custom-button button1">
        <img src="assets/img/agua.png" alt="Inundación" class="button-icon">
        Inundación
      </ion-button>
      <ion-button expand="block" class="custom-button button2">
        <img src="assets/img/tierra.png" alt="Deslizamiento" class="button-icon">
        Deslizamiento de Tierra
      </ion-button>
    </div>
    <div class="characters">
      <img src="assets/img/aqua rana.png" class="character aqua" />
      <img src="assets/img/terra armadillo.png" class="character terra" />
    </div>
  </div>
  <div class="footer-bar"></div>
</ion-content>
