// src/theme/variables.scss

// Variables de color personalizadas
$ion-item-background: #f0f0f0; // Color de fondo de los ítems
$ion-item-color: #333333;      // Color del texto de los ítems
$ion-label-color: #333333;     // Color del texto de las etiquetas
$ion-input-background: #ffffff; // Color de fondo del input
$ion-input-color: #333333;     // Color del texto del input

// Aplicar las variables
ion-item {
  --background: $ion-item-background;
  --color: $ion-item-color;
}

ion-label {
  --color: $ion-label-color;
}

ion-input {
  --background: $ion-input-background;
  --color: $ion-input-color;
}
